.client-create{
    display: flex;
    height: 100vh;
}

.client-create .side-menu{
    display: flex;
    min-height: 100vh;
}

.client-create .client-create-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.client-create .client-create-container .client-create-t{
    text-transform: uppercase;
    background-color: #191970;
    border: 1px solid #191970;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.client-create .client-create-container form{
    width: 80%;
    padding: 50px;
}
